body {
    text-align: center;
    background-color: purple;
}

.banner-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
    background-color: #f0f0f0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.banner {
    max-width: 70%;
    height: auto;
}

h1 {
    margin-top: 20px;
    background-color: azure;
}

.content-container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-top: 20px;
    margin-left: 10%;
}

.content-box {
    background-color: #b3e0ff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 90%;
}

.content-box p {
    color: white;
    background-color: blue;
    font-weight: bold;
    margin: 0;
}

form {
    margin-top: 20px;
    text-align: left;
}

.form-container {
    display: flex;
    justify-content: space-between;
}

.form-column {
    display: flex;
    flex-direction: column;
    width: 48%;
}

.form-group {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.form-group label {
    flex: 1;
    text-align: right;
    margin-right: 10px;
}

.form-group input,
.form-group select {
    flex: 2;
    padding: 5px;
}

.form-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}
